<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="FILE" fileName="log/logfile.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <LoggingProperty name="PROPERTY">
            <PatternLayout pattern="%m%n"/>
        </LoggingProperty>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="PROPERTY"/>
            <!--            <AppenderRef ref="CONSOLE"/>-->
        </Root>
    </Loggers>
</Configuration>