* {
    -hover-icon-paint: #ffffff;
    -icon-paint: #a7a7a7;
    -separator-paint: #777777;
    -bar-paint: #303030;
}

.tool_bar {
    -fx-background-color: -bar-paint;
}

.bar_button {
    -fx-background-color: -icon-paint;
    -size: 25px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-insets: 0, 0, 0, 0;
}

.bar_button:focused {
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}

.bar_button:hover {
    -fx-background-color: -hover-icon-paint;
}

.play_button {
    -fx-shape: "M19.3 11 76.7 48 19.3 85Z";
}

.play_button:playing {
    -fx-background-color: #00aa00;
}

.stop_button {
    -fx-shape: "M17 11 40.9 11 40.9 85 17 85Z M55.1 11 79 11 79 85 55.1 85Z";
}

.stop_button:paused {
    -fx-background-color: #aa0000;
}

.restart_button {
    -fx-shape: "M20.9 57.6 40.1 38.4 29.4 38.4C32.9 31.6 40 26.9 48.2 26.9 53.5 26.9 58.4 28.9 62.1 32.2L81.6 32.2C75.7 19.6 62.9 11 48.2 11 31.1 11 16.7 22.6 12.5 38.4L1.7 38.4 20.9 57.6Z M94.6 57.6 75.4 38.4 56.2 57.6 67 57.6C63.5 64.4 56.4 69.1 48.2 69.1 42.9 69.1 38 67.1 34.3 63.8L14.7 63.8C20.7 76.4 33.4 85 48.2 85 65.3 85 79.7 73.4 83.9 57.6L94.6 57.6Z";
}

.faster_button {
    -fx-shape: "M73 20 73 48 73 76 85 76 85 20Z M11 76 40.5 48 11 20Z M42 76 71.5 48 42 20Z";
}

.slower_button {
    -fx-shape: "M23 76 23 48 23 20 11 20 11 76Z M85 20 55.5 48 85 76Z M54 20 24.5 48 54 76Z";
}

.aco_button {
    -fx-shape: "M77.9 52.241 73.523 52.241 62.657 45.254C62.2117 44.9677 61.6485 44.9373 61.175 45.174L53.4 49.063C53.394 48.5397 53.3703 48.0267 53.329 47.524L61.667 39.187 69.07 39.187C69.8984 39.187 70.57 38.5154 70.57 37.687 70.57 36.8586 69.8984 36.187 69.07 36.187L61.043 36.187C60.6451 36.1868 60.2634 36.3447 59.982 36.626L52.702 43.906C52.3787 42.6499 51.8481 41.4565 51.132 40.375 53.5811 39.6971 55.2111 37.3845 55.026 34.85 54.9449 33.4814 54.6056 32.1405 54.026 30.898L63.645 29.036C64.0732 28.9514 64.397 28.5988 64.445 28.165 65.195 21.416 63.245 16.672 61.672 12.865 61.499 12.444 61.33 12.034 61.172 11.631 60.9666 11.1182 60.3843 10.8691 59.8715 11.0745 59.3587 11.2799 59.1096 11.8622 59.315 12.375 59.479 12.783 59.649 13.2003 59.825 13.627 61.325 17.264 63.015 21.368 62.531 27.217L53.1 29.04C51.732 26.64 49.857 24.6 48.2 24.6 46.543 24.6 44.672 26.638 43.3 29.04L33.868 27.214C33.385 21.366 35.075 17.261 36.574 13.624 36.75 13.1967 36.9203 12.7793 37.085 12.372 37.2904 11.8589 37.0411 11.2764 36.528 11.071 36.0149 10.8656 35.4324 11.1149 35.227 11.628 35.066 12.028 34.897 12.441 34.727 12.862 33.157 16.672 31.203 21.416 31.953 28.162 32.001 28.5958 32.3248 28.9484 32.753 29.033L42.376 30.9C41.7964 32.1425 41.4571 33.4834 41.376 34.852 41.1909 37.3865 42.8209 39.6991 45.27 40.377 44.5537 41.4588 44.0231 42.6525 43.7 43.909L36.42 36.628C36.1386 36.3467 35.7569 36.1888 35.359 36.189L27.329 36.189C26.5006 36.189 25.829 36.8606 25.829 37.689 25.829 38.5174 26.5006 39.189 27.329 39.189L34.735 39.189 43.073 47.526C43.0317 48.0293 43.0077 48.5423 43.001 49.065L35.225 45.176C34.7512 44.9389 34.1875 44.9693 33.742 45.256L22.875 52.241 18.5 52.241C17.6716 52.241 17 52.9126 17 53.741 17 54.5694 17.6716 55.241 18.5 55.241L23.315 55.241C23.6032 55.2403 23.8851 55.1567 24.127 55L34.646 48.24 43.227 52.531C43.294 52.984 43.38 53.42 43.474 53.846L33.751 53.846C32.9226 53.846 32.251 54.5176 32.251 55.346L32.251 66.854 22.151 79.284C21.6285 79.9271 21.7264 80.872 22.3695 81.3945 23.0126 81.917 23.9575 81.8191 24.48 81.176L34.915 68.333C35.1328 68.0659 35.2515 67.7317 35.251 67.387L35.251 56.846 44.458 56.846C44.7812 57.5751 45.208 58.2538 45.725 58.861 42.275 59.761 39.767 62.725 39.767 68.451 39.767 74.106 44.452 84 48.2 84 51.948 84 56.633 74.106 56.633 68.451 56.633 62.725 54.124 59.761 50.674 58.861 51.191 58.2536 51.6181 57.5749 51.942 56.846L61.148 56.846 61.148 67.387C61.148 67.7316 61.2667 68.0656 61.484 68.333L71.919 81.176C72.4473 81.8141 73.3929 81.9031 74.031 81.3747 74.6608 80.8532 74.7569 79.9233 74.247 79.284L64.147 66.854 64.147 55.346C64.147 54.5176 63.4754 53.846 62.647 53.846L52.925 53.846C53.019 53.42 53.105 52.984 53.172 52.53L61.753 48.24 72.271 55C72.5134 55.1552 72.7952 55.2377 73.083 55.238L77.9 55.238C78.7284 55.238 79.4 54.5664 79.4 53.738 79.4 52.9096 78.7284 52.238 77.9 52.238Z";
}

.plot_button {
    -fx-shape: "M20 14 14 14 14 82 82 82 82 76 20 76 20 14Z M39 70C49.753 70 57.858 58.91 67.243 46.07 70.221 41.996 73.302 37.793 76.643 33.677L82 37.9 80.357 24.075 66.532 25.718 71.925 29.965C68.518 34.174 65.405 38.418 62.399 42.529 53.979 54.051 46.707 64 39 64 33.356 64 29.522 56.77 29.488 56.7L24.151 59.44C24.373 59.877 29.679 70 39 70Z";
}

.setting_button {
    -fx-shape: "M48 60C41.4 60 36 54.6 36 48 36 41.4 41.4 36 48 36 54.6 36 60 41.4 60 48 60 54.6 54.6 60 48 60ZM75 40.5C74.4 38.3 73.5 36.2 72.4 34.3L74.9 26.8 69.2 21.1 61.7 23.6C59.7 22.5 57.6 21.6 55.4 21L52 14 44 14 40.5 21C38.3 21.6 36.2 22.5 34.3 23.6L26.8 21.1 21.1 26.8 23.6 34.3C22.5 36.3 21.6 38.4 21 40.6L14 44 14 52 21 55.5C21.6 57.7 22.5 59.8 23.6 61.7L21.1 69.2 26.8 74.9 34.3 72.4C36.3 73.5 38.4 74.4 40.6 75L44.1 82 52.1 82 55.6 75C57.8 74.4 59.9 73.5 61.8 72.4L69.3 74.9 75 69.2 72.5 61.7C73.6 59.7 74.5 57.6 75.1 55.4L82.1 51.9 82.1 43.9 75 40.5Z";
}

.log_button {
    -fx-shape: "M40.061 33.061 37.939 30.939 35 33.879 32.061 30.939 29.939 33.061 32.879 36 29.939 38.939 32.061 41.061 35 38.121 37.939 41.061 40.061 38.939 37.121 36 40.061 33.061Z M37.939 42.939 35 45.879 32.061 42.939 29.939 45.061 32.879 48 29.939 50.939 32.061 53.061 35 50.121 37.939 53.061 40.061 50.939 37.121 48 40.061 45.061 37.939 42.939Z M73 82 23 82 23 20 34 20 34 26 62 26 62 20 73 20ZM48 12C49.6569 12 51 13.3431 51 15 51 16.6569 49.6569 18 48 18 46.3431 18 45 16.6569 45 15 44.9727 13.3704 46.2716 12.0273 47.9012 12 47.9341 11.9994 47.9671 11.9994 48 12ZM75 14 58 14 58 12C58 9.79086 56.2091 8 54 8L42 8C39.7909 8 38 9.79086 38 12L38 14 21 14C18.7909 14 17 15.7909 17 18L17 84C17 86.2091 18.7909 88 21 88L75 88C77.2091 88 79 86.2091 79 84L79 18C79 15.7909 77.2091 14 75 14Z M50 34 67 34 67 38 50 38Z M50 46 67 46 67 50 50 50Z M50 58 67 58 67 62 50 62Z M50 70 67 70 67 74 50 74Z M31.5 56.5 38.5 56.5 38.5 63.5 31.5 63.5Z M31.5 68.5 38.5 68.5 38.5 75.5 31.5 75.5Z";
}

.separator {
    -fx-background-color: -separator-paint;
}

.log_text {
    -fx-font-family: Consolas;
}

.side_panel {
    -fx-background-color: #ffffff;
}